src/__pycache__/datatesting.cpython-38.pyc
src/__pycache__/function_tree.cpython-38.pyc
src/__pycache__/generation_functions.cpython-38.pyc
src/__pycache__/genetic_operators.cpython-38.pyc
src/__pycache__/main.cpython-38.pyc
src/__pycache__/operators.cpython-38.pyc
